/*
0D3B66 - Blue
FAF0CA - Tan
F4D35E - Gold
*/

* {
    margin: 0;
    padding: 0;
    border: 0;
}

/* header */

header {
    background-color: #0d3b66;
}

header blockquote {
    display: block;
    font-size: 2.5em;
    text-align: center;
    color: #f4d35e;
}

nav {
    text-align: center;
}

nav li {
    display: inline;
    font-size: 2.25em;
}

nav a {
    text-decoration: none;
    color: #f4d35e;
}

nav li a {
    padding: 2%;
}

nav a:hover {
    text-decoration: underline;
}

/* main */

main {
    background-color: #faf0ca;
}

main h1 {
    display: block;
    font-size: 2em;
    text-align: center;
    color: #0d3b66;
    padding: 1%;
}

main h2 {
    display: block;
    font-size: 1.75em;
    text-align: center;
    color: #0d3b66;
}

main p {
    display: block;
    font-size: 1.5em;
    text-align: center;
    color: #0d3b66;
    padding: 0.5%;
}

main table {
    display: block;
    margin: 1%;
}

main td {
    color: #0d3b66;
    display: inline;
    border: 2px solid #0d3b66;
}

/* footer  */

footer {
    background-color: #0d3b66;
}

footer p {
    font-size: 1.25em;
    padding: 2%;
    text-align: center;
    color: #f4d35e;
}