 /*
0D3B66 - Blue
FAF0CA - Tan
F4D35E - Gold
*/

* {
    margin: 0;
    padding: 0;
    border: 0;
}

/* header */

header {
    background-color: #0d3b66;
    min-height: 800px;
}

header blockquote {
    display: block;
    font-size: 2.5em;
    text-align: center;
    color: #f4d35e;
}

nav {
    text-align: center;
    background-color: #f4d35e;
}

nav li {
    display: inline;
    font-size: 2.25em;
}

nav a {
    text-decoration: none;
    color: #0d3b66;
}

nav li a {
    padding: 2%;
}

nav a:hover {
    text-decoration: underline;
}

header img {
    margin: 2% 18%;
}

/* main */

main {
    background-color: #faf0ca;
    min-height: 800px;
}

main h1 {
    display: block;
    font-size: 2em;
    text-align: center;
    color: #0d3b66;
    padding: 1%;
}

main h2 {
    display: block;
    font-size: 1.75em;
    text-align: center;
    color: #0d3b66;
}

main p {
    display: block;
    font-size: 1.5em;
    text-align: center;
    color: #0d3b66;
    padding: 0.5%;
}

table, td {
    margin: 1%;
    border: 2px solid #0d3b66;
}

main article {
    padding: 150px 20%;
	font-size: 2.5em;
	text-justify: inter-word;
}

main button {
	position: relative;
	margin: 0 auto;
	font-size: 1.75em;
	border: 2px solid black;
	border-radius: 20px;
}

/* footer  */

footer {
    background-color: #0d3b66;
}

footer p {
    font-size: 1.25em;
    padding: 2%;
    text-align: center;
    color: #f4d35e;
}