/*
0D3B66 - Blue
FAF0CA - Tan
F4D35E - Gold
*/

* {
    margin: 0;
    padding: 0;
    border: 0;
}

/* header */

header {
    background-color: #0d3b66;
    min-height: 800px;
}

header blockquote {
    display: block;
    font-size: 2.5em;
    text-align: center;
    color: #f4d35e;
}

nav {
    text-align: center;
    background-color: #f4d35e;
}

nav li {
    display: inline;
    font-size: 2.25em;
}

nav a {
    text-decoration: none;
    color: #0d3b66;
}

nav li a {
    padding: 2%;
}

nav a:hover {
    text-decoration: underline;
}

header img {
    margin: 2% 18%;
}

/* main */

main {
    background-color: #faf0ca;
    min-height: 800px;
}

main h1 {
    display: block;
    font-size: 2em;
    text-align: center;
    color: #0d3b66;
    padding: 1%;
}

main h2 {
    display: block;
    font-size: 1.75em;
    text-align: center;
    color: #0d3b66;
}

main p {
    display: block;
    font-size: 1.5em;
    text-align: center;
    color: #0d3b66;
    padding: 0.5%;
}

table {
	margin: 2% 23%;
    border: 2px solid #0d3b66;
}

td {
	padding: 1%;
    margin: 1%;
    border: 2px solid #0d3b66;
}

main article {
    padding: 150px 10.5%;
	font-size: 2.5em;
	text-justify: inter-word;
	width: 80%;
}

main section {
	border: 2.5px solid black;
	border-radius: 30px;
	margin: 2%;
	padding: 2%;
}

main button {
	margin: 1% 12%;
	padding: 0 20%;
	font-size: 1.75em;
	border: 2px solid black;
	border-radius: 20px;
}

iframe {
	padding: 2% 10%;
	width: 80%;
	height: 600px;
}

.grid {
	display: grid;
	grid-template-columns: auto auto auto;
	grid-gap: 5%;
}

.grid div {
	padding: 5%;
}

div img {
	width: 100%;
	height: 300px;
}

/* footer  */

footer {
    background-color: #0d3b66;
}

input {
	display: block;
}

footer p {
    font-size: 1.25em;
    padding: 2%;
    text-align: center;
    color: #f4d35e;
}

#footGrid {
	display: grid;
	grid-template-columns: auto auto;
	grid-gap: 20%;
	padding: 2%;
}

#footGrid section {
	width: 45%;
}

.button {
	display: inline;
	font-size: 1.5em;
	margin: 3%;
	padding: 2%;
}

#footGrid label {
	font-size: 1.75em;
    text-align: center;
    color: #f4d35e;
}

#footGrid input {
	margin: 2%;
}

.input {
	padding: 4%;
}